@media (max-width: 376px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        justify-items: center;
    }

    .header__name {
        padding-top: 147px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        width: 262px;
        height: 196px;
        display: flex;
        text-align: center;
    }

    .header__par {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        width: 296px;
        height: 60px;
        text-align: center;
    }

    .header__button {
        margin-top: 36px;
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
    }

    .plays {
        display: none;
    }

    .mini-games {
        padding-bottom: 24px;
    }

    .mini-games__header {
        padding-bottom: 48px;
        padding-top: 99px;
        width: 250px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
    }

    .mini-games__containers {
        display: none;
    }

    .stars__group {
        display: none;
    }

    .box {
        gap: 27px;
        height: 57px;
    }

    .box__name {
        font-size: 16px;
        font-weight: 700;
    }

    .box__stars {
        width: 19px;
        height: 19px;
    }

    .footer {
        height: 100px;
    }

    .footer__desc {
        font-size: 16px;
        font-weight: 600;
    }

}