@media (max-width: 768px) {

    .center {
        padding-left: 54px;
        padding-right: 54px;
    }



    .header__name {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        width: 262px;
        height: 196px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__par {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        width: 296px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plays {
        display: none;
    }

    .mini-games__header {
        width: 250px;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
    }

    .mini-games__containers {
        display: none;
    }

    .stars__group {
        display: none;
    }

}